<%- include ("partials/header") %>

<div class="container mt-5">
    <div class="mx-5">
        <form action="" class="needs-validation" novalidate>
            <div class="mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Title</span>
                    </div>
                    <input type="text" class="form-control" id="title" placeholder="title" value required>
                    <div class="invalid-feedback">
                        Please provide a valid title.
                    </div>
                </div>
                <div class="invalid-feedback">
                    Please enter a title.
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Image address</span>
                    </div>
                    <input type="text" class="form-control" id="image" placeholder="image" value required>
                    <div class="invalid-feedback">
                        Please provide a valid image address.
                    </div>
                </div>
                <div class="invalid-feedback">
                    Please enter a title.
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pr-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Category</span>
                        </div>
                        <select class="custom-select" id="category" required>
                            <option value="">Choose...</option>
                            <option>Log</option>
                            <option>Error</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid category.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Tag</span>
                        </div>
                        <select class="custom-select" id="tag" required>
                            <option value="">Choose...</option>
                            <option>Log</option>
                            <option>Error</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid tag.
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-5">
                <div id="editor" class="rounded">
                    <!-- Tips: Editor.md can auto append a `<textarea>` tag -->
                    <textarea style="display:none;">### Blog Content</textarea>
                </div>
            </div>
            <hr>
            <div class="text-right my-3">
                <button class="btn btn-secondary btn-sm" type="submit">Back</button>
                <button class="btn btn-dark btn-sm" type="submit">Save</button>
                <button class="btn btn-success btn-sm" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

<%- include ("partials/footer") %>