<%- include ("partials/header") %>

<div class="container">
    <div class="row justify-content-center px-3 mx-3">
        <div class="col-lg-8 my-5">
            <div class="px-2 py-3 border">
                <h3 class="mx-2">Blog</h3>
                <!-- for循环 -->
                <hr>
                <div class="container-fluid">
                    <h3><a href="#">Title</a></h3>
                    <div class="row">
                        <div class="col-lg-8 order-2 order-lg-1">
                            <p>Sit voluptate minim ea veniam minim non cupidatat nostrud deserunt officia est proident.
                                Sunt qui eu quis excepteur nisi sunt. Non proident eu aute excepteur nostrud aliqua duis
                                est duis exercitation dolor...</p>
                            <div class="small">
                                <img src="https://unsplash.it/180/130?image=1005" alt="Avatar" class="avatar">
                                <a href="#">Jiaqian Sun</a>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar3"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                                    <path fill-rule="evenodd"
                                        d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                </svg>
                                <span>2020-08-12</span>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z" />
                                    <path fill-rule="evenodd"
                                        d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                </svg>
                                <span>10</span>
                                <button class="btn btn-outline-success float-right btn-xs">spring</button>
                            </div>
                        </div>
                        <div class="col-lg-4 order-1 order-lg-2">
                            <a href="">
                                <img class="image auto d-block"
                                src="https://images.pexels.com/photos/1230302/pexels-photo-1230302.jpeg?auto=compress&cs=tinysrgb&h=350"
                                alt="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- for循环结束 -->
            </div>
        </div>
        <div class="col-lg-4 my-5">
            <div class="container border py-2">
                <div class="container">
                    <span>Category</span>
                    <a href="#" class="float-right">more >></a>
                </div>
                <hr>
                <div class="container m-1">
                    <ul class="list-group">
                        <!-- for 循环 -->
                        <a href="#">
                            <li class="list-group-item">
                                <span>Learning Log</span>
                                <div class="text-success float-right">13</div>
                            </li>
                        </a>
                        <a href="#">
                            <li class="list-group-item">
                                <span>Learning Log</span>
                                <div class="text-success float-right">13</div>
                            </li>
                        </a>
                        <!-- for 结束 -->
                    </ul>
                </div>
            </div>
            <div class="container border py-2 my-2">
                <div class="container">
                    <span>Tag</span>
                    <a href="#" class="float-right">more >></a>
                </div>
                <hr>
                <div class="container m-1">
                    <ul class="list-group">
                        <!-- for 循环 -->
                        <a href="#">
                            <li class="list-group-item">
                                <span>Spring</span>
                                <div class="text-success float-right">13</div>
                            </li>
                        </a>
                        <a href="#">
                            <li class="list-group-item">
                                <span>Spring</span>
                                <div class="text-success float-right">13</div>
                            </li>
                        </a>
                        <!-- for 结束 -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ("partials/footer") %>