<%- include ("../partials/header") %>

<div class="container">
    <form action="/blogs/search/" class="form-signin" novalidate>
        <div class="form-group">
            <label for="keyword">Key Word</label>
            <div class="row">
                <div class="col-md-9 mb-3">
                    <input type="text" class="form-control" name="keyword" id="keyword"
                           placeholder="Enter key word">
                </div>
                <div class="col-md-3 mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
    <hr>
    <% if(blogs !== undefined) { %>
        <% blogs.forEach((blog)=>{ %>
            <div class="form-signin">
                <a href="/blogs/<%= blog._id %>" class=""><%= blog.title %></a>
            </div>
    <% }) } %>
</div>

<%- include ("../partials/footer") %>